<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4DEVS | Blog</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=BioRhyme:wght@200..800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header class="main-header">
      <h1>4<span>DEVS</span></h1>
      <nav class="nav-menu">
        <ul>
          <li>
            <a href="#">Artigos</a>
          </li>
          <li>
            <a href="#">Projetos</a>
          </li>
          <li>
            <a href="#">Equipe</a>
          </li>
          <li>
            <a href="#">História</a>
          </li>
        </ul>
      </nav>
      {% if logged_in %}
      <button id="logoutButton" class="bttn-acess">Logout</button>
      {% else %}
      <a href="/login"><button class="bttn-acess">Fazer login</button></a>
      {% endif %}
    </header>

    <div class="main-container">
      <aside>
        <form action="/search" method="get">
        <input type="text" name="query" placeholder="Pesquisar...">
        <button type="submit">Buscar</button>
      </form>
      </aside>

      <main class="post-list">
        {% if msgerro %}
        <h1>{{ msgerro }}</h1>
        {% endif %}

        {% if results%}
        <h1 style="color: white;">Results:</h1>
        <ul>
          {% for i in range(results|length) %}
          <article class="post-container">
            <img src="data:image/jpeg;base64,{{ img_data[i] }}" alt="" class="img-post" />
            <div class="post-preview">
                <h1>{{ results[i]["titulo"] }}</h1>
                <div class="description-article">
                    <p>{{ results[i]["descricao"] }}</p>
                    <footer>
                      <div>
                        {% set hours, minutes, days = calculate_time_since_creation(results[i]["created_at"]) %}
                        {% if days > 0 %}
                        <time datetime="{{ results[i]["created_at"] }}">{{ results[i]["created_at"] }}</time>
                        <span>{{ days }}d atrás</span>
                        {% elif hours == 0%}
                        <span>{{ minutes }}min atrás</span>
                        {% else %}
                        <span>{{ hours }}h atrás</span>
                        {% endif %}
                    </div>
                        <button>Ler mais</button>
                    </footer>
                </div>
            </div>
        </article>
        {% endfor %}
        {% endif %}

        {% for i in range(posts|length) %}
            <article class="post-container">
                <img src="data:image/jpeg;base64,{{ img_data[i] }}" alt="" class="img-post" />
                <div class="post-preview">
                    <h1>{{ posts[i]["titulo"] }}</h1>
                    <div class="description-article">
                        <p>{{ posts[i]["descricao"] }}</p>
                        <footer>
                          <div>
                            {% set hours, minutes, days = calculate_time_since_creation(posts[i]["created_at"]) %}
                            {% if days > 0 %}
                            <time datetime="{{ posts[i]["created_at"] }}">{{ posts[i]["created_at"] }}</time>
                            <span>{{ days }}d atrás</span>
                            {% elif hours == 0%}
                            <span>{{ minutes }}min atrás</span>
                            {% else %}
                            <span>{{ hours }}h atrás</span>
                            {% endif %}
                        </div>
                        <form action="{{ url_for('post_details', post_id=posts[i]['id']) }}" method="get">
                          <button type="submit">Ler mais</button>
                      </form>
                        </footer>
                    </div>
                </div>
            </article>
        {% endfor %}
    </main>
    
    </div>
    <script>
      document
        .getElementById("logoutButton")
        .addEventListener("click", function () {
          fetch("/logout", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          })
          setTimeout(function () {
            location.reload()
          }, 500)
        })
    </script>
  </body>
</html>
