<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4DEVS | Blog</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=BioRhyme:wght@200..800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/app/static/css/style.css" />
  </head>
  <body>
      <header class="main-header">
        <h1>4<span>DEVS</span></h1>
        <nav class="nav-menu">
          <ul>
            <li>
              <a href="#">Artigos</a>
            </li>
            <li>
              <a href="#">Projetos</a>
            </li>
            <li>
              <a href="#">Equipe</a>
            </li>
            <li>
              <a href="#">História</a>
            </li>
          </ul>
        </nav>
        <a href="login.html"><button class="bttn-acess">Fazer login</button></a>
      </header>

      <div class="main-container">
        <aside>
          <input type="search" placeholder="Busque por algo" name="#" id="#" />
        </aside>

        <main class="post-list">
          <article class="post-container">
            <img src="/app/static/img/illustration-1.jpg" alt="" />
            <div class="post-preview">
              <h1>A ERA DAS MÁQUINAS E O SEU FUTURO</h1>
              <p>Por Luna Solari</p>

              <div class="description-article">
                <p>
                  O contínuo avanço das máquinas tem transformado radicalmente a
                  maneira como vivemos e trabalhamos, impulsionando a inovação e
                  desafiando os limites da tecnologia a cada dia.
                </p>
                <footer>
                  <div>
                    <time datetime="2024-03-01">1 de Mar. de 2024</time>
                    <span>• 15 min</span>
                  </div>
                  <button>Ler mais</button>
                </footer>
              </div>
            </div>
          </article>

          <article class="post-container">
            <img src="/app/static/img/illustration-1.jpg" alt="" />
            <div class="post-preview">
              <h1>A ERA DAS MÁQUINAS E O SEU FUTURO</h1>
              <p>Por Luna Solari</p>

              <div class="description-article">
                <p>
                  O contínuo avanço das máquinas tem transformado radicalmente a
                  maneira como vivemos e trabalhamos, impulsionando a inovação e
                  desafiando os limites da tecnologia a cada dia.
                </p>
                <footer>
                  <div>
                    <time datetime="2024-03-01">1 de Mar. de 2024</time>
                    <span>• 15 min</span>
                  </div>
                  <button>Ler mais</button>
                </footer>
              </div>
            </div>
          </article>
        </main>
      </div>
  </body>
</html>
